.LessonsTable {
    background: black;
    padding: 30px 0;
    .content {
        display: flex;
        flex-direction: column;
        gap: 40px;
        .title {
            display: flex;
            flex-direction: column;
            gap: 20px;
            .cardsTitle {
                color: red;
                font-size: 50px;
            }
            .filters {
                display: flex;
                flex-direction: row;
                gap: 10px;
                .input {
                    width: 100%;
                    padding: 15px;
                    color: white;
                    background-color: black;
                    border: 2px solid white;
                    box-shadow: 5px 5px 0 rgb(255, 0, 0);
                    font-size: 16px;
                    appearance: none;
                }
                .input[type="date"] {
                    cursor: pointer;
                    position: relative;
                    color: white;
                    background: black
                        url('data:image/svg+xml;utf8,<svg fill="white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19 4h-1V2h-2v2H8V2H6v2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H5V9h14v11zm-7-9c-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4z"/></svg>')
                        no-repeat right 10px center;
                    background-size: 20px 20px;
                    padding-right: 40px;
                }
            }
        }
        .cards {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 25px;
            .card {
                cursor: pointer;
                padding: 20px;
                display: flex;
                flex-direction: column;
                align-content: center;
                align-items: center;
                justify-content: center;
                border: 2px solid white;
                transition: all 0.3s ease-in-out;
                box-shadow: 5px 5px 0 rgb(255, 0, 0);
                &:hover {
                    color: white;
                    box-shadow: 0 5px 15px rgba(255, 0, 0, 0.5);
                    transform: translateY(-4px);
                }

                .image {
                    padding: 20px 10px;
                    display: flex;
                    align-content: flex-start;
                    align-items: flex-start;
                    justify-content: flex-start;
                    width: 50%;
                    height: 100%;
                }
                .cardInfo {
                    padding: 20px 0;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    border-top: 2px solid white;
                    h3 {
                        color: white;
                    }
                    p {
                        color: gray;
                    }
                    .date {
                        color: gray;
                    }
                }
            }
        }
    }
}
.empty {
    width: 100wh;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    color: white;
}
